.ImagePage {
    display: flex;
    justify-content: center;
    align-items: center;
  
    .ImagePage-header {
      background-color: #ffffff;
      border-radius: 15px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      height: auto; 
      width: 100%; 
      max-width: 800px; 
      margin: 50px;
      
      .image{
        width: 50%;
        position: relative;
        
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
          border-radius: 10px;
        }
      }

      .details{
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        height: auto; 

        .image-details {
          padding: 20px;
          width: 50%;
    
          h1 {
            font-weight: bold;
            margin-bottom: 15px;
          }
    
          p {
            color: #666;
            margin-bottom: 15px;
          }
          .poster-details {
            display: flex;
            align-items: center; 
            margin-top: 15px; 
    
            img {
              border-radius: 50%; 
              width: 40px; 
              height: 40px; 
              object-fit: cover; 
              margin-right: 15px;
            }
          }
        }
        
        h2{
          padding-left: 20px;
        }
        .comments-section {
          display: flex;
          flex-direction: column;
          height: 100%; 
          overflow: hidden; 
          padding: 20px;
      
          .comments {
            overflow-y: auto; 
            flex-grow: 1; 
            max-height: calc(60vh );
            padding: 10px 0;
      
            .comment {
              padding: 10px;
              margin-bottom: 10px;
              p {
                padding: 8px;
                margin-top: 4px; 
                margin-bottom: 4px; 
              }
              .comment-user {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: #000000;
                transition: color 0.3s;
                :hover{
                  text-decoration: underline;
                  color: #0056b3;
                }
                img {
                  margin-right: 10px;
                  width: 40px; 
                  height: 40px; 
                  border-radius: 50%; 
                  object-fit: cover;
                }
              }
            }
          }
      
          .add-comment {
            position: relative;
            height: 100px; 
          }
        }
      }
    }
  }
  