.UserProfile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 20px;

  .UserProfile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    .UserProfile-picture {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin-bottom: 10px;
    }
  }
}
