.Navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(142, 29, 191);
    padding: 15px 7%
}
.search-box {
    display: flex;
    align-items: center;
    background: #242424;
    padding: 10px 20px;
    border-radius: 50px;
}
.search-box input {
    padding: 5px;
    background: transparent;
    border:0;
    outline:0;
    font-size: 15px;
    max-width: 500px;
}
.logo{
    width: 160px;
    cursor: pointer;
}

ul {
    flex: 1;
    list-style: none;
    text-align: left;
}
ul li {
    display: inline-block;
    margin: 10px 0px;
    font-size: 18px;
    cursor: pointer;
}