$grey: #c7c7c7;
$white: #ffffff;
$navcolor: rgb(255, 255, 255); // Can replace with $white if they are intended to be the same
// Define basic colors and fonts
$primary-color: #6522d0;
$highlight-color: #d3d3d3;
$background-color: #fff;
$font-color: $primary-color;
$font-family: Arial, sans-serif;

.Navbar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    background: $navcolor;
}


.Navbar .leftSide {
    display: flex;
    flex-grow: 1;
    padding: 0;
    margin: 0;
    list-style: none;
}

.Navbar .leftSide .search-box {
    width: 300%; // Example fixed width
    max-width: 600px; // Maximum width
    border: 5px solid $grey;
    display: flex;
    align-items: center;
    padding: 7px;
    border-radius: 35px;
    background: $grey;
}

.Navbar .leftSide .search-box img {
    max-height: 25px;
    max-width: 25px;
}

.Navbar .leftSide .search-box input {
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 15px;
}

.Navbar button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    background-color: $highlight-color;
    color: $font-color;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;

    &:hover, &:focus {
        background-color: darken($highlight-color, 15%);
    }
}
