$grey  : #7b7676;
$white : #ffffff;
$navcolor : rgb(255, 255, 255);
// Define basic colors and fonts
$primary-color: #6522d0; // Black color for text
$highlight-color: #d3d3d3; // Grey for highlights
$background-color: #fff; // White background
$font-color: $primary-color; // Use primary color for font
$font-family: Arial, sans-serif;

.Navbar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $navcolor;
    margin-left: auto;
}   
ul{
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: left;
    padding: 0;
    margin: 0;  
}
.search-box {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 7px 20px;
    border-radius: 50px;
    background: lightgray;
}
.search-box img {
    max-height: 25px; 
    max-width: 25px;
}

.search-box input {
    flex-grow: 1;
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 13px;
    /* Other styling as needed */
}
ul li {
    display: flex;
    align-items: center; 
    margin: 1px;
    font-size: 18px;
    cursor: pointer;
}

button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    background-color: $highlight-color;
    color: $font-color;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: darken($highlight-color, 15%);
    }
  }