.discover-container {
  padding: 20px;
  text-align: center;

  

  .header {
    margin-bottom: 20px;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 10px;
    }

    button {
      padding: 10px 20px;
      font-size: 1rem;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  .art-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 15px;
    align-items: stretch;
  }
}
