$size : 60px;
$border: 1px solid;
$border-radius : 8px;
$speed: 0.8s; 


.Navbar .rightSide {
    display: flex;
    margin-left: auto;
    flex-grow: 0; 
    align-items: center;
}

.Navbar .rightSide  img {
    max-width: 40px;
    max-height: 40px;
}

.Navbar .rightSide  li {
    max-width: 100px;
    max-height: 100px;
    margin-right: 15px;
    padding: 3px;
    display: flex;
    align-items: center;
}

.dropdown-item {
    display : flex;
    align-items: center;
}


.icon-button {
    $buttonSize: calc(var() * 1);
    width: $size;
    height: $size;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
}

.icon-button.special-icon img {
    justify-content: center;
    $buttonSize: calc(var() * 1);
    width: calc(#{$size} * 0.8);
    height: calc(#{$size} * 1.2);
    border-radius: 50%;
    object-fit: cover; 
}

.icon-button:hover{
    filter: brightness(1.3);
}

.dropdown{
    position:absolute;
    top: 70px;
    width: 220px;
    transform: translateX(-75%);
    background-color: rgb(121, 119, 119);
    border: var($border);
    border-radius: $border-radius;//may change
    padding: 1rem;
    overflow: hidden;
}

.menu-item {
    height:50px;
    display: flex;
    align-items: center;
    border-radius: $border-radius; //may change
    transition: background var($speed);
    padding: 0.5rem;
}

.menu-item:hover{
    background-color: #ededed;
}
.icon-right {
    margin-left: auto;
}

.user-profile-image {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    object-fit: cover; 
  }

.menu-primary-enter {
    position: absolute;
    transform: translateX(-150px);

}

.menu-primary-enter {
    transform: translateX(-150px);
}
.menu-primary-enter-active {
    transform: translateX(0%);
    transition: all $speed ease;
}

.menu-primary-exit {
    position: absolute;
}
.menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all $speed ease;
}

.menu-secondary-enter {
    transform: translateX(150px);
}
.menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all $speed ease;
}

.menu-secondary-exit-active {
    transform: translateX(150%);
    transition: all $speed ease;
}